.header {
  background-color: #3f51b5;
  padding: 20px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 300px;
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
}

.button {
  padding: 10px 20px;
  background-color: #ff6b01;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.button:hover {
  background-color: #ff8c32;
}

@media (max-width: 480px) {
  .input {
    width: 200px;
  }

  .button {
    padding: 8px 16px;
  }

  .header {
    padding: 10px;
  }
}
